<table class="table table-sm table-striped table-bordered">

    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>

    <tbody>
        @if (Buy?.Count() > 0)
            {
                @foreach (Buy b in Buy)
                {
                    <tr>
                        <td>@b.Name</td>
                        <td>@b.Zipcode</td>
                        <th>Book</th>
                        <th>Quantity</th>

                        <td>
                            <button class="btn btn-sm btn-danger" @onclick="@(x => BuySelected.InvokeAsync(b.BuyId))">
                                @ButtonLabel
                            </button>
                        </td>

                    </tr>

                    @foreach (BasketLineItem bli in b.Lines)
                    {
                        <tr>
                            <td colspan="2"></td>
                            <td>@bli.Book.Title</td>
                            <td>@bli.Quantity</td>
                        </tr>
                    }


                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No Orders</td>
                </tr>
            }


    </tbody>

</table>

@code {

    [Parameter]
    public string TableTitle { get; set; } = "Buy";

    [Parameter]
    public IEnumerable<Buy> Buy { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Collected";

    [Parameter]
    public EventCallback<int> BuySelected { get; set; }

}
